
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif !important;
}

body {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px;
    overflow-x: hidden;
    position: relative;
}

/* imagem de fundo */
body::before {
    content: "";
    position: absolute;
    inset: 120px 45% 0 0;
    background: url('../Imagens/redefinir senha.png') left center no-repeat;
    background-size: cover;
    z-index: 0;
}

/* --- HEADER --- */
header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    box-shadow: 0px 4px 10px #E53935;
    z-index: 10;
}

header img {
    height: 60px;
    width: auto;
}

/* --- CONTEÚDO --- */

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: calc(100vh - 120px);
    padding: 40px clamp(24px,4vw,70px);
    position: relative;
    z-index: 1;
    gap: 0;
}


.formulario {
    flex: 0 1 520px;
    padding: clamp(34px,4vw,54px) clamp(30px,3vw,46px);
    max-width: 560px;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0,0,0,0.82);
    backdrop-filter: blur(6px);
    color: #fff;
    font-weight: bolder;
    gap: 50px;
    border-radius: 12px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: "Raleway", sans-serif !important;
}

/* título */
form h1 {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 7%;
    color: #fff;
    position: relative;
    margin-right: 140px;
    width: fit-content;
}

form h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 4px;
    width: 80%;
    background-color: #E53935;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 3px 13px red;
    animation: neon 3s infinite alternate ease-in-out;
}

form h1:hover::after {
    transform: scaleX(0.4);
}

/* texto */
.frase {
    font-size: 18px;
    color: #ccc;
    font-weight: 400;
}

/* inputs */
form label {
    font-size: 21px;
    font-weight: 600;
}

form input {
    background: #000;
    border: 2px solid #444;
    border-radius: 14px;
    padding: 12px 14px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
}

form input:focus {
    border: 2px solid #E53935;
    box-shadow: 0 0 10px #E53935;
    background: #111;
    outline: none;
}

/* botão */

.enviar-btn {
    padding: 12px;
    cursor: pointer;
    width: 250px;
    background: #E53935;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    border-radius: 14px;
    margin-left: 20%;
    margin-top: 10%;
    border: 2px solid #E53935;
    animation: neonBtn 2.5s infinite alternate ease-in-out;
    transition: all 0.3s ease;
}

.enviar-btn:hover {
    transform: scale(1.05);
}

@keyframes neonBtn {
    0% {
        background: #E53935;
        border-color: #E53935;
        box-shadow: 0 0 8px #E53935, 0 0 16px #E53935;
    }
    50% {
        background: #ff6f61;
        border-color: #ff6f61;
        box-shadow: 0 0 15px #ff6f61, 0 0 35px #ff6f61;
    }
    100% {
        background: #E53935;
        border-color: #E53935;
        box-shadow: 0 0 8px #E53935, 0 0 16px #E53935;
    }
}

@keyframes neon {
    0% {
        border-bottom-color: #E53935;
        box-shadow: 0px 0px 5px #E53935, 0px 0px 10px #E53935;
    }
    50% {
        border-bottom-color: #af1103;
        box-shadow: 0px 0px 15px #a20e00, 0px 0px 30px #ff6f61;
    }
    100% {
        border-bottom-color: #E53935;
        box-shadow: 0px 0px 5px #E53935, 0px 0px 10px #E53935;
    }
}

/* --- RESPONSIVIDADE --- */


/* telas médias (entre 1040px e 1200px) */
@media (max-width: 1200px) and (min-width: 1040px) {
    body::before {
        display: none;
    }
    .container {
        justify-content: center;
        align-items: center;
    }
    .formulario {
        margin-right: 0;
        max-width: 600px;
    }
}

@media (max-width: 1200px) {
    body::before {
        display: none;
    }
    .container {
        justify-content: center;
        align-items: center;
    }
    .enviar-btn {
        margin-top: 10%;
        width:250px;
    }
}

@media (max-width: 1024px) {
    body::before {
        display: none;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formulario {
        margin-right: 0;
        max-width: 520px;
        gap: 30px;
    }
    form h1 {
        font-size: 34px;
        margin-bottom: 10%;
    }
    .enviar-btn {
        margin-top: 10%;
        width: 250px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .formulario {
        max-width: 400px;
        gap: 50px;
    }
    form h1 {
        font-size: 30px;
        width: 100%;
        margin-bottom: 20%;
    }
    .enviar-btn {
        max-width: 200px;
        margin-top: 10%;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .formulario {
        max-width: 100%;
        justify-content: center;
        align-items: center;
        padding: 32px 20px;
        height: 700px;
        gap: 46px;
    }
    form h1 {
        width: 75%;
        font-size: 21px;
        margin-bottom: 15%;
    }
    .enviar-btn {
        font-size: 16px;
        max-width: 150px;
        margin-top: 10%;
    }
}
